html
  head
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    script(src="/js/console.js")
  body(onload="init()")
    h1  Test page
    pre#messages



    script
      function init(){

        console.log('socket test init')
        var url  = 'http://'+ window.location.hostname;
        
        if(window.location.port){
          url += ':' + window.location.port;
        }

        var socket = io.connect(url);
        
        socket.emit('ping', {})
        socket.on('pong', function(){
          console.log('ping pong!');
        });

        socket.on('remote', function (data) {
          console.log('received remote:', data);
        });
      }
